.vscode/**
.vscode-test/**
out/test/**

src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
yarn-error.log
yarn.lock

web/
!web/node_modules/antd/dist/antd.min.css
!web/node_modules/antd/dist/antd.dark.min.css
!web/build/app.min.js
!web/build/app.min.css
!web/build/theme-style.min.css